<div class="search">
  <div class="searchbar">
    <input type="checkbox" [(ngModel)]="isGoodPlayerMode" (change)="onInput()"/>
    <input
      #searchInput
      class="searchinput"
      placeholder="Name"
      [formControl]="searchControl"
      (input)="onInput()"
      (keydown.shift.enter)="switchPlayerMode()"
      (keydown.enter)="onAdd()"/>
    <button (click)="onAdd()">+</button>
  </div>
  <div class="findings">
    <span *ngFor="let finding of (searchControl.value ? findingsList : (!isGoodPlayerMode ? badPlayerList : goodPlayerList))"
      class="findingItem"
    >
      <span>{{ finding }}</span>
      <button class="findingDelete" (click)="onDelete(finding)">-</button>
    </span>
  </div>
</div>
